img {
    width: 40%;
}
#titulo {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto {
    font-family: Arial, Helvetica, sans-serif;
}
.textoMaior {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}