
#titulo {
    font-size: 50px;
    font-family: Inter,Black;
    color: #FFFFFF;
}
#subtitulo {
    font-family: Inter;
    font-weight: 200;
    font-size: 20px;
}
.texto {
    font-family: Inter, Regular;
}
.textoMaior {
    font-size: 30px;
    font-family: Inter, Black;
}

.textoMenor {
    font-family: Inter;
    font-weight: 200;
}
#cabecalho {
    background-color: #A92727;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#rodape {
    background-color: #A92727;
    height: 130px;
    margin-top: 130px;
    align-content: center;
}

#textoRodape {
    color: #FFFFFF;
    margin-left: 50px;
}

.receitaImg {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 10px;
    border-color: #A92727;
    border-radius: 30px;
}

#icone {
    width: 100px;
}

#conteudo {
    margin:20px
}

#listaReceitas {
    display: flex;
    gap: 20px;
}

body {
    margin: 0;
}