
#titulo {
    font-size: 50px;
    font-family: Inter,Black;
    color: #FFFFFF;
}
#subtitulo {
    font-family: Inter;
    font-weight: 200;
    font-size: 20px;
}
.texto {
    font-family: Inter, Regular;
}
.textoMaior {
    font-size: 30px;
    font-family: Inter, Black;
}

.textoMenor {
    font-family: Inter;
    font-weight: 200;
}
#cabecalho {
    background-color: #A92727;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#rodape {
    background-color: #A92727;
    height: 130px;
    margin-top: 130px;
    align-content: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

#textoRodape {
    color: #FFFFFF;
    margin-left: 50px;
}

#linkCabecalho {
    text-decoration: none;
}

.lista {
    font-family: Inter, Regular;
}

.receitaImg {
    height: 250px;
    border-style: solid;
    border-width: 10px;
    border-color: #A92727;
    border-radius: 30px;
}

#icone {
    width: 100px;
    object-fit: contain;
}

#conteudo {
    margin:20px
}

#listaReceitas {
    display: flex;
    gap: 20px;
}

body {
    margin: 0;
}

h3 {
    font-family: Inter, Black;
}

h4 {
    font-family: Inter, Black;
}

.imagemReceita {
    width: 75%;
    border-style: solid;
    border-color: #A92727;
    border-width: 15px;
    border-radius: 50px;
}

.centro {
    text-align: center;
}

li::marker {
    color: #A92727;
}

.caixaTexto {
    height: 100px;
    width: 300px;
    border-color: #A92727;
    border-radius: 20px;
    border-width: 5px;
}

.enviar {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    border-color: #A92727;
    border-width: 7px;
}